.root{
    -fx-background-color: #BDBDBD;
}

.label{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 30px;
}


.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-plot-background {
    -fx-background-color: #C5CAE9;
}

.chart-alternative-row-fill {
    -fx-fill: #FFFFFF;
}

.chart-bar{
    -fx-background-color: #1a237e;
}

